---
import Layout from '../../layout.astro';
import Minicalculator from '../../components/random_stuff/minicalculator.astro';
---

<Layout path="/random">
    <main class="container">
        <h1>Random Stuff</h1>
        <h3>This page is dedicated to learning purposes</h3>

        <Minicalculator />
    </main>
</Layout>